<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing</title>
</head>
<body>
    <form>
        <label for="billing-no">Billing Number:</label>
        <input type="text" id="billing-no" name="billing-no"><br>
      
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity"><br>
      
        <label for="price">Price:</label>
        <input type="number" id="price" name="price"><br>
      
        <label for="taxes">Taxes:</label>
        <input type="number" id="taxes" name="taxes"><br>
      
        <label for="date">Date:</label>
        <input type="date" id="date" name="date"><br>
      
        <label for="services">Services:</label>
        <input type="text" id="services" name="services"><br>
      
        <label for="unit">Unit:</label>
        <input type="text" id="unit" name="unit"><br>
      
        <input type="submit" value="Submit">
      </form>
      
</body>
</html>